

header .navbar-default{
    z-index: 50;
    border:none;

}

header .navbar-default .navbar-nav >li{
    font-family: 'Comfortaa', cursive;

}

header .navbar-default .navbar-nav > li > a{
        color: #ffffff;
}

#caratterineri{
    color: #000000;
}

header .navbar-default .navbar-nav > li > a{
    padding:15px 0 0 0;
}

header .navbar-default .navbar-nav > li > a:hover{
    color: white;
    border-bottom: 2px solid white;
    padding-bottom: 3px;

}

header .navbar-default .navbar-toggle{
    border-color: transparent;
}

header .navbar-default .navbar-toggle .icon-bar{
    background-color: #ffffff;
}

header .navbar-default .navbar-toggle .icon-bar:hover{
    background-color: #ffffff;
}

header .navbar-default .navbar-nav > li > a:hover{

    font-family: 'Lato', sans-serif;
    border-bottom: none;
    color: #000000;
}


header .navbar-default .navbar-toggle:hover, header .navbar-default .navbar-toggle:focus{
    background-color: transparent;
}

header .jumbotron{
    top: 0;
    background: #0a5fa2;
    color: #ffffff;
    height: 100vh;
    padding-top: 30%;
}

.jumbotron .row h1{
    display:inline;

    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-weight: 400;

    font-size: 60px;
}


@-webkit-keyframes zompa {
    0%
    {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);}

    50%
    {
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        transform: translateY(20px);}
    100%
    {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);}

}

@keyframes zompa {
    0%
    {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);}

    50%
    {
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        transform: translateY(20px);}
    100%
    {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);}

}

header .animazione{

    font-family: 'Comfortaa', cursive;

    text-align: center;
    bottom: 6px;
    width: 100%;
    position: absolute;
    -webkit-animation: zompa 2s infinite;
    animation: zompa 2s infinite;


}

.underscore{
    padding-left: 15px;
}



#logonero{
    display: none;
}

#scritta::before{
    font-family: 'Comfortaa', cursive;
    position: absolute;
    content: "menu";
    right: 50px;
    color: #ffffff;

}


#bottoncino{
    background-color: transparent;
    border: 1px solid white;
     color: white;

}

 #bottoncino:hover{
     background-color: white;
     color: gray;

 }

 #bottoncinotrans{
     background-color: transparent;
     border: 1px solid #0a5fa2;
     color:#0a5fa2;

 }

 #bottoncinotrans:hover{
     background-color: #0a5fa2;
     color: #ffffff;
 }

header .inizio{
    background: #0a5fa2;
    padding: 35px 0 60px 0;
    transition: all 0.5s;
    transition-timing-function: linear, ease-in;
}

header .fine{
    background: #ffffff;
    padding: 35px 0 45px 0 ;
    transition: all 0.5s;
    transition-timing-function: linear, ease-in;
    }


.xero, .fuji{
width: 100%
}

.info{
background-image:url("../img/pattern-sea.jpg");
    background-repeat: repeat;
    border-bottom: 1px solid #D8D8D8;
}

.info h3{

    padding: 40px 30px;
}

.info p{
    padding-bottom: 40px;
}

#bottoneVerde{
    background-color: transparent;
    border: 1px solid #6ACB7B;
    color: #6ACB7B;
    padding: 15px 41px 14px 41px;
    margin-bottom: 60px;
}

#bottoneVerde:hover{
    background-color: #6ACB7B;
    color: #ffffff;
}


footer .contatti{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid #D8D8D8;
    margin: 30px 30px;
    padding:40px 40px;
}

footer .credit{

    margin: 30px 0 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
}



@media screen and (max-width: 768px){

    .immagini .inBlu{
        color:#0a5fa2;
        font-size: 35px;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 20px;
    }

    .immagini .inGrigio{
        color: gray;
        font-size: 14px;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 25px 45px;
    }

    .immagini .ninja{

        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .immagini .icone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 55px 35px;

    }


    footer .contatti{
        flex-direction: column;
        align-items: center;

    }


    footer .contatti a{
     font-size: 18px;
     color: #000000;

     }

    footer a:hover{
        color: #0a5fa2;
    }
}



@media screen and (max-width: 480px){

    .immagini .inBlu{
        font-size: 40px;
        text-align: center;

    }

    .immagini .inGrigio{
        font-size: 16px;
        text-align: center;
    }



}